/* You can add global styles to this file, and also import other style files */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box !important;
}

html, body {
  font-family: 'Roboto', 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: black;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bg-img {
    background-image: url('../images/exams.png');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    z-index: -2;
}

.bg-cover {
    background-color: rgb(0, 0, 0, 0.6);
    background-size: cover;
    opacity: 0.8;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.bg-color {
    background-image: linear-gradient(#0D25B9, #FD6585); 
}

.bg-bloody {
    background: linear-gradient(45deg, #f54ea2, #ff7676);
}

.bg-violet {
    background: linear-gradient(45deg, #4776e6, #8e54e9);
}

.well {
    font-family: 'Roboto', sans-serif !important;
    color: #172b4d;
    font-size: 2rem !important;
    font-weight: bold;
}

h1 {
    font-family: 'Open sans', sans-serif !important;
    color: #172b4d;
    font-size: 2.5rem;
    font-weight: bold;
}

.brand-text {
    color: white;
    font-size: 1.2rem;
    font-weight: bolder;
    border-bottom: 2px solid lightgrey;
    border-right: 2px solid lightblue;
    font-family: 'Grenze', verdana, serif;
    
}

.text-black {
    color: black !important;
}

p {
    font-family: 'Lato', sans-serif !important;
    font-size: 1.3rem;
    margin-bottom:0;
}

a {
    text-decoration: none !important;
    color: #fff;
    line-height: 2.5;
}

a:hover {
    color: inherit;
}

h3 {
    line-height: 2.0;
}

input {
    height: 1.8rem;
    padding: 0.7rem;
    font-size: 16px;
}

input::-webkit-input-placeholder {
    direction: ltr;
    font-family: 'Roboto', sans-serif;
}

.logo {
    width: 7rem;
}

:placeholder-shown {
    font-family: 'Roboto', sans-serif;
    font-size: 13px !important;
}

.box-shadow {
    box-shadow:  0 19px 38px rgba(0,0,0,0.50), 0 30px 40px rgba(224, 127, 187, 0.42);
}

input.form-control:focus {
    border: none !important;
}

.btn {
    background-color: #FD6585 !important;
    border: none;
    color: #fff;
    margin-top:20px;
}

.btn-shadow{
    padding: 0.6rem;
    border-radius: 13px;
    width: 8rem;
    box-shadow:  0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.fa4 {
    color: #172b4d;
    font-size: 14px !important;
}

.portlet {
    position: absolute;
    top: 60px;
    left: 210px;
}

.card {
    width: 33rem;
    margin-top: 70px;
}

#form {
    width: 40%;
    margin-top:70px;
}

#form-info {
    display:flex;
    justify-content:space-around;
}

@media(max-width: 767px) {
    .card {
        width: auto;
    }

    .brand-text {
        font-size: 1rem;
    }

    h1 {
        font-size: 2rem;
    }

    #form {
        width: auto;
        margin-top:20px;
    }

    #form-info {
        flex-direction: column;
    }

    .btn{
        font-size: 1.2rem;
    }
}

@media(min-width: 768px) and (max-width: 991px) {
    .card {
        width: 700px;
    } 

    #form {
        width:70%;
    }

    p {
        font-size: 1.6rem;
    }
}